name: Java CI/CD with Maven and Docker Hub

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      # Step 1: Create the .jar artifact (skipping tests to avoid the database error)
      - name: Build with Maven Wrapper
        run: ./mvnw -B package -DskipTests

      # Step 2: Log in to your Docker Hub account
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Step 3: Build the image and push it
      - name: Build and Push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          # Replace 'your-username' with your actual Docker Hub username
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-petclinic:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/spring-petclinic:${{ github.run_number }}
      
      - name: Validate Kubernetes Manifests
        run: |
          kubectl apply --dry-run=client -f k8s/db.yml
          kubectl apply --dry-run=client -f k8s/petclinic.yml